<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fy.chatserver.persistent.dao.UserStateDao">
    <select id="addIfAbsent" parameterType="userStateEntity" statementType="CALLABLE" resultType="map">
        {call proc_add_if_absent(#{uid, jdbcType=VARCHAR,mode=IN}, #{online, jdbcType=TINYINT, mode=IN}, #{lastDt, jdbcType=TIMESTAMP, mode=IN})}
    </select>

    <select id="get" parameterType="java.lang.String" resultType="userStateEntity">
        select * from user_state where uid=#{uid}
    </select>

</mapper>
